body{
font-family: 'Roboto', arial, sans-serif, serif;
background-color:#EABDD0;
}
.Heading1-h1{
left: 868px;
top: 137px;
width:339px;
height:50px;
position: absolute;
}
.Para1{
left: 291px;
top: 346px;
width:333px;
height:62px;
position: absolute;
font-size: 15px;
}
.Pic1{
left: 289px;
top: 623px;
width:80px;
height:80px;
position: absolute;
}
