body{
font-family: 'Roboto', arial, sans-serif, serif;
background-color:#FFFFFF;
}
.Para4{
left: 340px;
top: 304px;
width:132px;
height:30px;
position: absolute;
font-size:8px;
color: px;
}
.Para13{
left: 209px;
top: 180px;
width:119px;
height:78px;
position: absolute;
font-size:30px;
color:#000000;
}
